main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

pre {
  font-size: 15px;
  line-height: 1.8;
}

section {
  border: 1px solid grey;
  border-radius: 25px;

  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40%;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 15px;
  align-items: center;

  font-size: large;
  color: rgb(94, 61, 0);
}

fieldset {
  grid-column: 1 / span 2;
  width: 70%;
  justify-self: center;

  display: flex;
  justify-content: space-around;

  margin-top: 5px;
  margin-bottom: 10px;

  border-radius: 5px;
}

input {
  border-radius: 20px;
  border-color: rgb(206, 134, 0);
  height: 1.5em;
  padding: 2px 9px;
}

textarea {
  resize: none;
  height: 5em;

  border: 2px inset rgb(206, 134, 0);
  border-radius: 15px;
  padding: 9px 9px;
}

input[type="submit"] {
  height: 50px;
  border-color: var(--clr-dark-red);

  grid-column: 1 / span 2;
  width: 65%;
  justify-self: center;

  margin-top: 20px;
}
