:root {
  --clr-background: rgb(133, 86, 0);
  --clr-dark-red: rgb(141, 0, 0);
}

body {
  background-color: rgb(236, 236, 236);

  min-width: 1200px;
  min-height: 100vh;

  margin-left: 25px;
  margin-right: 25px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
}

h2{
  font-size: 30px;
  color: var(--clr-dark-red);
  user-select: none;
}

main{
  flex-grow: 1;
}

.page-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-logo {
  border: 5px solid black;
  border-radius: 250px;

  height: 150px;
  width: 150px;

  align-self: center;
}

.main-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--clr-background);
  border-radius: 200px;
  height: 60px;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 500;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

footer {
  margin-top: 30px;
  height: 20vh;
  background-color: var(--clr-background);
  border-radius: 20px;

  position: relative;
}

footer p {
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Indie Flower", cursive;
  font-size: 30px;
  color: white;
}
