<!--
     THIS IS THE OVERALL STRUCTURE OF ALL PAGES. ANY CHANGES IN OVERALL STRUCTURE SHOULD BE APPLIED TO HERE AND ALL PAGES!
     - file locations may vary
     - main content is specific to the page it belongs
     - title is specific to the page it belongs
     - linked css files may vary

-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title></title>
    <link rel="icon" type="image/png" href="assets/icons/tab-icon.png" />

    <link rel="stylesheet" href="common/overall-style.css">
  </head>

  <body>
    <header class="page-header">
      <img src="assets/logo.png" alt="Restaurant Logo" class="main-logo" />
      <nav class="main-nav">
        <a href="index.html">Home</a>
        <a href="menu.html">Menu</a>
        <a href="about-us.html">About us</a>
        <a href="contact.html">Contact</a>
      </nav>
    </header>

    <main></main>

    <footer>
      <p>THANKS FOR VISITING!</p>
      <p class="copright-notice">© 2024 example website</p>
    </footer>
  </body>
</html>
